div .ThemeWrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header{
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-size: cover;
}

.dark{
    background-color: hsl(235, 24%, 19%);
    color: hsl(235, 24%, 19%);
    
    .Header { 
        background: url('../assets/img/bg-desktop-dark.jpg');
        background-size: cover;  

        .ThemeDarkButton{
            background: url(../assets/img/icon-sun.svg);
            background-size: cover;
        }

    }
}
.light{
    background-color: hsl(0, 0%, 98%);
    color: hsl(235, 24%, 19%);
    
    .Header{
        background: url('../assets/img/bg-desktop-light.jpg');
        background-size: cover;

        .ThemeLightButton{
            background: url(../assets/img/icon-moon.svg);
            background-size: cover;
        }
    }
} 

.ButtonTheme{
    height: 50px;
    width: 50px;
}
